/* ======================================

	INITIAL BUILD

 ========================================= */
/*.section {
	background-color: #aeb3cd;
	> div {
		background-color: #a3e0bc;
	}
}
.container {
	background-color: #e18da4;
}
.content {
	background-color: #d0eadf;
}

header, footer {
	background-color: #84b1ce;
}

ul {
	background-color: #ccc;
	li {
		background-color: #ddd;
	}
}

a {
	pointer-events: none; 
}*/